img {
    border-radius: 75px;
}

h2 {
    font-size: 18px;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('programming-17.jpg');
    background-size: cover;
    /* Menyesuaikan ukuran gambar dengan layar */
    background-position: center;
    /* Pusatkan gambar */
    background-repeat: no-repeat;
    /* Jangan ulang gambar */
    height: 100vh;
    font-family: Arial, sans-serif;
    color: white;
}

a {
    background-color: white;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;

}