img {
    border-radius: 0 75px 0 75px;
    border-style: dashed;
    border-image-width: 5px;
}

h1 {
    font-size: 70px;
    text-align: center;
    color: greenyellow;
}

h2 {
    font-size: 25px;
    color: red;
    margin-left: 100px;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('programming-17.jpg');
    background-size: cover;
    /* Menyesuaikan ukuran gambar dengan layar */
    background-position: center;
    /* Pusatkan gambar */
    background-repeat: no-repeat;
    /* Jangan ulang gambar */
    height: 100vh;
    font-family: Arial, sans-serif;
    color: white;
}

@media (max-width: 768px) {
    body {
        background-size: contain;
    }
}

a {
    background-color: white;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;

}